.cv-wrapper {
    color: black;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vh; 
    margin-bottom: 5vh;
    padding-top: 1vh;
    animation: fadeInUp 2s;
    animation-fill-mode: forwards;
}

.section {
    display: flex;
    margin-top: -10px;
}

.heading {
    flex: 1;
    padding-top: 10px;
}

.head-text {
    font-size: 15px;
    font-weight: 500;
    border-radius: 5em;
    color: rgb(148, 163, 184);
    width: 15vh;
    margin-left: auto;
    margin-right: auto;
}

.content {
    flex: 3;
    text-align: left;
    padding-left: 10vh;
    padding-top: 10px;
    padding-bottom: 5vh;
    color: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
}

.head {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    white-space: pre-wrap;
}

.time {
    font-size: 12px;
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-weight: 500;
    margin-right: 10vh;
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 25px;
    padding: 4px 10px;
}

.text {
    font-size: 14px;
    font-weight: 400;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 10vh;
    color: rgb(148, 163, 184);
}

.technical {
    /* font-style: italic;
    font-size: 14px;
    font-weight: 400;
    padding-top: 5px;
    padding-left: 18px;
    padding-right: 10vh;
    color: var(--primary-color); */
    
    margin-right: 5px;
    font-size: 12px;
    color: rgb(94 234 212);
    padding: .5vh 1vh;
    background-color: var(--primary-color);
    border-radius: 1rem;
}

.top-wrapper {
    display: inline-flex;
    align-items: center;
}

.top-wrapper > a {
    padding-left: 1vh;
    color: #fff;
}

.top-wrapper > a:hover {
    color: var(--primary-color);
}

.hat {
    color: var(--primary-color); 
    rotate: -20deg; 
    position: absolute;
    top: 30px;
}

@media screen and (max-width: 1000px) {
    .cv-wrapper {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .top-wrapper {
        height: auto;
    }

    .top-wrapper > h1 {
        height: auto;
        margin: 0;
    }

    .section {
        display: block;
    }

    .heading {
        height: auto;
        text-align: left;
        padding-top: 0;
        padding-left: 4vw;
    }

    .head-text {
        font-size: 20px;
        width: 100%;
        margin-top: 5vh;
    }

    .head {
        font-size: 14px;
        padding-left: 3vw;
    }

    .time {
        margin-right: 1vh;
    }

    .content {
        padding: 5px;
    }

    .text {
        padding: 10px;
    }

    .hat {
        display: none;
    }

    .card-languages {
        flex-wrap: wrap;
        padding-left: 2vw;
        padding-bottom: 2vw;
    }

    .technical {
        margin: 5px;
    }
}