.contact-wrapper {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-circle {
    padding: 2vh;
    margin-top: 1vh;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.cool-text {
    color: var(--primary-color);
    display: inline;
}

.contact-card {
    margin: 2vh;
    background-color: rgba(255, 255, 255, 0.1);
    width: 30%;
    padding: 1vh;
    border-radius: 12px;
    animation: fadeInUp 2s;
    animation-fill-mode: forwards;
}

@media screen and (max-width: 480px) {
    h1 {
        margin-top: 10vh;
    }
    .contact-card {
        width: 90%;
    }
}